:root {
    .dark{
        --main-color: blue;
        --text: #888;
    }
    .light{
        --main-color: #888;
        --text: blue;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}