.Container{
   background-color: #283646; 
   color: aliceblue;
   text-transform: capitalize;
}

.contact{
  display:flex;
  justify-content: space-between;
  font-size: 20px;
  text-align: center;
}

.input {
    max-width: 190px;
    padding: 15px;
    font-size: 15px;
    color: black;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    border: 2px solid #fff;
    flex-wrap: nowrap;
  }
  
  .button {
    border: none;
    background-color: #1363DF;
    text-decoration: none;
    padding: 15px;
    padding-bottom: 17px;
    font-size: 17px;
    color: #fff;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    cursor: pointer;
    margin-top: 10px;
  }

  .cont2 h3{
    font-size: 10px;
    display: inline-flex;
    justify-content: center;  
  }