.Container{
   background-color: #283646; 
   color: aliceblue;
   text-transform: capitalize;
}

.contact{
  display:flex;
  justify-content: space-between;
  font-size: 20px;
}

.categories-section h3{
color: #92989F;
}

.categorys-sect {
  width: 160px;
}

.footForm{
  position: relative;
}
    .input-footer {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    color: black;
    border-radius: 18px;
    border: 2px solid #fff;
    flex-wrap: nowrap;
  }
    
  .button {
    border: none;
    text-decoration: none;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
  }



.foot {
  font-size: 13px;
}