.products-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    width: 18rem;
    height: 24rem;
    text-align: center;
    border-radius: 6px;
    background-color: #fff;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.card-content-body {
    margin-top: 15px;
}

.product-image {
    width: 60%;
    height: 8rem;
    margin: auto;
    padding: 8px;
}

.card-title {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.card-description {
    font-size: 12px;
    color: #777;
    margin-top: 10px;
    line-height: 1;
}

.card-price {
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 165, 0);
}

.card-rate {
    background-color: gold;
    border-radius: 10px;
    padding: 2px 5px;
}